body {
    font-family: Arial, sans-serif;
    background-image:url(dance.jpg); /* Make sure this file is in the same folder */
    
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

.container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* 0.5 transparency */
    border-radius: 10px;
}

.special {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/*input[type="submit"] {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;*/
}

/*input[type="submit"]:hover {
    background-color: #45a049;
}*/
